.head{
    display: flex;
    flex-direction: row;
    }
    .logo{
        height: 40px;
        width: 105px;
        margin-left: 90px;
        margin-top: 45px;
    }
    .box{
        height: 50px;
        width: 680px;
        margin-left: 100px;
        margin-top: 45px;
    }
    .soppinglogo{
        height: 45px;
        width: 50;
        margin-top: 45px;
        margin-left: 100px;
    }
    .signin{
        height: 45px;
        width: 80px;
        margin-top: 45px;
        margin-left: 20px;
        border-radius: 6px;
    }
    .signin:hover{
        background-color: rgb(13, 218, 64);
    }
    