.head{
    display: flex;
    flex-direction: row;
    }
    .logo{
        height: 40px;
        width: 105px;
        margin-left: 90px;
        margin-top: 8px;
    }
    .box{
        height: 50px;
        width: 680px;
        margin-left: 100px;
        margin-top: 8px;
        border-bottom: 2px solid rgb(226, 65, 6);
    }
    .search{
        height: 50px;
        width: 50px;
        margin-top: 8px;
    }
    .soppinglogo{
        height: 45px;
        width: 50;
        margin-top: 8px;
        margin-left: 100px;
    }
    .signin{
        height: 45px;
        width: 80px;
        margin-top: 8px;
        margin-left: 20px;
        border-radius: 6px;
    }
    .signin:hover{
        background-color: rgb(52, 240, 99);
    }
    .লিস্ট{display: flex;
        flex-direction: row;
        margin-left: 140px;
        font-size: 18px;
        margin-top: 5px;
    
    }
    .list:hover{
        color: rgb(10, 158, 243);
        transition: 3s;
    }
    .signinuppayment{
        background-color: rgba(240, 248, 255, 0.712);
        display: flex;
        flex-direction: row; 
    }
.payment{
    margin-left: 180px;
    margin-top: 40px;
}
.signinups{
    background-color: white;
    height: 700px;
    width: 600px;
    margin-top: 50px;
}
.signinu{
      margin-left: 212px;
     margin-top: 30px;
     display: flex;
     flex-direction: row;
     font-size: 20px;
     border-bottom: 2px solid rgb(0, 162, 255);
}
.logineasily{
    margin-left: 130px;
    margin-top: 30px;
}
.facebook{
    margin-left: 200px;
    background-color: rgb(37, 53, 122);
}
